:root {
    --verde-menta-suave: #A2D9A0;
    --verde-esmeralda-claro: #50C878;
    --verde-bosque: #228B22;
    --verde-oscuro: #006400;
    --blanco-puro: #FFFFFF;
    --blanco-roto: #F5F5F5;
    --blanco-crema: #FFFDD0;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
main{
    background-color: var(--blanco-crema);
    padding-top: 80px;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
}
#carouselExample img{
    object-fit: cover;
}
.menu{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 20px;
}
.option{
    margin: 50px;
    background-color: aquamarine;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.contenedor img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 20px;
    border-radius: 15px;
    object-fit: cover;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.contenedor:hover{
    transition: 0.5s;
    filter: brightness(50%);
    scale: 101%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrusel {
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    position: relative;
    
}

.imagenes {
    display: flex;
    width: 300%;
    height: 100%;
    animation: deslizar 120s infinite linear;
    
    
}

.imagenes img {
    
    width: 100vw;
    height: 50vh;
    object-fit:cover;
    object-position: center;
}

@keyframes deslizar {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100vw); }
    66% { transform: translateX(-200vw); }
    100% { transform: translateX(0); }
}